.player{

    display: flex;
    align-items: center;
    width: 300px;
    background: rgba(118,73,36,0.5);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;


    span{
        font-size: 30px;
        margin-left: 16px;

    }

    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        background-color: rgba(73 197 255);
    }
}

.player-active{
    background: linear-gradient(0deg, rgba(204,141,1,1) 11%, rgba(253,187,45,1) 100%);}