<div class="scroll-container hide-desktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i=index" [name]="player"
        [playerActive]="i == game.currentPlayer" [image]="game.player_images[i]" class=""></app-player-mobile>
</div>
<app-player (click)="editPlayer(i)" [ngStyle]="{'top.px':40 +(i*90)}" class="player-position hide-mobile"
    *ngFor="let player of game.players; let i=index" [name]="player" [playerActive]="i == game.currentPlayer"
    [image]="game.player_images[i]">
</app-player>

<div *ngIf="gameOver" class="game-over">
<img src="assets/endscreen.jpg"></div>
<div *ngIf="!gameOver" class="field">
    <div class="card-stack">
        <img *ngFor="let card of game.stack; let i=index;" [ngStyle]="{'left.px': i*4}" src="assets/red_back.png">
        <img *ngIf="game.players.length >=1" (click)="takeCard()" class="top-card" src="assets/red_back.png"
            [ngStyle]="{'left.px': game.stack.length*4}">
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" [class.pick-card]="game.pickCardAnimation"
            class="pick-card" src="assets/{{ game.currentCard }}.png" [ngStyle]="{ 'left.px': game.stack.length*4}">
        <img *ngFor="let card of game.playedCards" src="assets/{{ card }}.png" class="playedCard">
    </div>

</div>

<app-game-info *ngIf="!gameOver" class="pin-bottom" [player]="game.players" [card]="game.currentCard"></app-game-info>



<button *ngIf="!gameOver" mat-mini-fab color="accent" class="button-add" (click)="openDialog()">
    <mat-icon>person_add</mat-icon>
</button>