.profile-picture{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    background-size: contain;
    margin-left: 5px;

    &:hover {
        filter: brightness(1.1)
    }
}